

/** @public */
.sp-rating {
    position: relative;
    display: inline-block;
    line-height: 1;
}

.sp-rating__empty {
    display: flex;
    gap: 2px;
    line-height: 1;
}

.sp-rating__filled {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 2px;
    overflow: hidden;
    line-height: 1;
    white-space: nowrap;
}

.sp-rating__star {
    display: inline-block;
    color: var(--color-bg-gray-200);
    font-size: 16px;
    line-height: 1;
}

.sp-rating__filled .sp-rating__star {
    color: var(--color-primary);
}
